Source: config-dlitz-nvme-disable-wbcache
Section: admin
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/dlitz/config-dlitz-nvme-disable-wbcache
Vcs-Browser: https://github.com/dlitz/config-dlitz-nvme-disable-wbcache
Vcs-Git: https://github.com/dlitz/config-dlitz-nvme-disable-wbcache.git

Package: config-dlitz-nvme-disable-wbcache
Architecture: all
Depends:
 nvme-cli,
 ${misc:Depends},
Description: Disables NVMe write-back caching by default via udev.
 This provides a udev rule that disables write-back caching on all NVMe
 devices.  This can be useful for consumer-grade NVMe SSDs that don't correctly
 handle power failure.
